<div class="modal-header company-name">
	<button type="button" ng-click="closeModal()" class="closeButton">
		<i class="fa fa-times-circle fa-2x"></i>
	</button>
	<h4 class="modal-title">Da Nang Foody</h4>
</div>

<div class="modal-header">
    <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
</div>

<div class="modal-body">
    <h1 style="text-align: center;">Thank you</h1>
</div>

<div class="modal-footer" id="modal-footer-cus">
	<div id="current-step">Step {{step}} of 3</div>
    <button type="button" class="btn btn-primary hieu-button-cus" ng-click="backModal()">{{backStep}}</button>
	<button type="button" class="btn btn-primary hieu-button-cus" ng-click="nextModal()">{{nextStep}}</button>
</div>


