<div class="modal-header company-name">
	<button type="button" ng-click="closeModal()" class="closeButton">
		<i class="fa fa-times-circle fa-2x"></i>
	</button>
	<h4 class="modal-title">Da Nang Foody</h4>
</div>

<div class="modal-header">
    <h1 class="no-margin booking-title">{{Tour.name}}</h1>
</div>

<div class="modal-body" ng-show="showStep[1]">
    <div class="container-fluid no-padding" id="hieu-cus-font-size">
        <div class="row">
            <div id="calendar-wrap" class="col-md-4">
                <h3>CHOOSE A DAY</h3>
                <div datepicker ng-model="booking.Date" class="well well-sm" datepicker-options="options"></div>
            </div>
        	<div id="time-wrap" class="col-md-4">
                <h3 class="uppercase inline-block">Select a time</h3>
                <label>
                    <input type="radio" ng-model="booking.Time" value="10:00AM-1:00PM">
                    10:00AM-1:00PM
                </label>
                <label id="bottom-radio">
                    <input type="radio" ng-model="booking.Time" value="5:00PM-8:00PM">
                    5:00PM-8:00PM
                </label>
            </div>

            <div id="tickets-wrap" class="col-md-4">
                <h3 class="uppercase">Transport Type</h3>
                <div>
                    <select ng-model="booking.transportType" ng-options="x.type for x in transportTypes"
                                 class="cus-selectBox" ng-model-options="{debounce: 200}" ng-change="checkTransport()" style="width: 100px;">                
                    </select>
                   
                    <div ng-hide="errorTransport" style="width: 50px;display: inline-block;">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
                    <p style="color: red;width: 30px;display: inline-block;">Error</p>
                    </div>
                </div>
            </div>

            <div id="tickets-wrap" style="margin-top: 25px;" ng-class="isFrom">
                <h3 class="uppercase">How many ticket you will need.</h3>
                <div>
                    <select ng-model="booking.Tickets" ng-options="x for x in numberTickets"
                                 class="cus-selectBox" ng-model-options="{debounce: 200}" ng-change="checkTicket()"></select>
                    <div ng-hide="errorTicket" style="width: 50px;display: inline-block;">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
                        <p style="color: red; width: 30px;display: inline-block;">Error</p>    
                    </div>
                </div>
                <h3>Total prize: {{booking.transportType.price * booking.Tickets | currency:"$" }}</h3>
            </div>

            <div class="col-md-4" style="margin-top: 25px;" ng-show="from">
                <h3 class="uppercase">Your QR code from</h3>
                <div>
                    <img ng-src="images/from/{{fromImage}}" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body" ng-show="showStep[2]">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6 input-form">
                <h3 class="no-margin">BILLING INFORMATION</h3>
                   
                    <label>Purchaser's name</label>
                    <input type="text" name="name" placeholder="Name" ng-model-options="{debounce: 200}" ng-change="checkError(1)"
                     ng-model="travellerInfo[1]">
                    <p ng-hide="isError[1]" style="color:red;">Please input your name.</p>
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Address"  ng-model-options="{debounce: 200}" ng-change="checkError(3)"ng-model="travellerInfo[3]">
                    <p ng-hide="isError[3]" style="color:red;">Please input your address.</p>
                    <label>Country</label>
                    <select ng-model="travellerInfo[4]" style="padding: 6px 4px; width:100%;text-align-last: center;" 
                    ng-options="x.text for x in countries" ng-model-options="{debounce: 200}" ng-change="checkCountry()"></select>
                    <p ng-hide="validateCountry" style="color:red;">Please input your country.</p>
                    <label>City</label>
                    <input type="text" name="city" placeholder=""  ng-model-options="{debounce: 200}" ng-change="checkError(5)"
                    ng-model="travellerInfo[5]">
                    <p ng-hide="isError[5]" style="color:red;">Please input your City.</p>
                    <label>Zip/Postal Code</label>
                    <input type="text" name="zipCode" placeholder=""  ng-model-options="{debounce: 200}" ng-change="checkErrorNumber(6)"
                    ng-model="travellerInfo[6]">
                    <p ng-hide="isError[6]" style="color:red;">Please input your Zip/Postal Code.</p>
                    <label>Email <p>(Your Ticket will be sent here)</p></label>
                    <input type="text" name="email" placeholder=""  ng-model-options="{debounce: 200}" ng-change="checkEmail(7)"
                    ng-model="travellerInfo[7]">
                    <p ng-hide="isError[7]" style="color:red;">Please input your email correctly.</p>
                    <label>Confirm Email</label>
                    <input type="text" name="confirmEmail" placeholder=""  ng-model-options="{debounce: 200}" ng-change="checkConfirmEmail(7)"
                    ng-model="confirmEmail">
                    <p ng-hide="isErrorConfirmEmail" style="color:red;">This input must be the same as your email.</p>
                    <label>Cell Phone <p>(In Case of Emergency)</p></label>
                    <input type="text" name="cellphone" placeholder="" ng-model-options="{debounce: 200}" ng-change="checkErrorNumber(8)"
                    ng-model="travellerInfo[8]">
                    <p ng-hide="isError[8]" style="color:red;">Please input your phone number.</p>
                  
            </div>
            <div class="col-md-6">
                <div class="input-form padding-right-left" id="payment-method" style="margin-bottom: 15px;">
                    <h3 class="no-margin">PAYMENT METHOD</h3>
                    
                        <select ng-model="paymentType" style="padding: 6px 4px; width:100%;text-align-last: center;" 
                        ng-options="x for x in paymentTypes" ng-model-options="{debounce: 200}" ng-change="checkPaymentType()"></select>
            
                    <div id="payment-method-wrap">
                        <!-- PayPal credit-card Logo -->
                        <img ng-show="paymentShow" src="images/payment/paypal.png" alt="paypal credit card">
                        <!-- PayPal Logo -->
                        <img ng-hide="paymentShow" src="images/payment/paypal-logo1.png" alt="paypal logo">
                    </div>
                    
                </div>
                <div class="input-form padding-right-left" ng-show="paymentShow">
                    <form name="paymentDetail">
                    <h3 class="no-margin">PAYMENT DETAIL</h3>
                    <label>Cardholder name</label>
                    <input type="text" name="cardholder" 
                    placeholder="As it appears on your credit card"  ng-model-options="{debounce: 200}" ng-change="checkError(9)"
                    ng-model="travellerInfo[9]">
                    <p ng-hide="isError[9]" style="color:red;">Please input cardholer name.</p>
                    <label>Card number</label>
                    <input type="text" name="cardnumber" placeholder=""  ng-model-options="{debounce: 200}" ng-change="checkErrorNumber(10)"
                    ng-model="travellerInfo[10]">
                    <p ng-hide="isError[10]" style="color:red;">Please input your card number.</p>
                    <div class="container-fluid no-margin">
                        <div class="row">
                            <div class="col-md-6 no-padding">
                                <label>Expiry</label>
                                <div class="row no-margin">
                                  <div class="col-xs-6 col-sm-6 no-padding">
                                    <select ng-model="travellerInfo[11]['month']" ng-options="x for x in months"
                                    class="cus-selectBox" ng-model-options="{debounce: 200}" ng-change="checkExpiryFunc('month','Month..')"></select>
                                    <div ng-hide="checkExpiry.month" style="width: 50px;display: inline-block;margin-top: 5px">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
                                <p style="color: red;width: 30px;display: inline-block;">Error</p>
                                   </div>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 no-padding">
                                    <select ng-model="travellerInfo[11]['year']" ng-options="x for x in years"
                                    class="cus-selectBox" ng-model-options="{debounce: 200}" ng-change="checkExpiryFunc('year','Year..')"></select>
                                    <div ng-hide="checkExpiry.year" style="width: 50px;display: inline-block; margin-top: 5px">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
                                <p style="color: red;width: 30px;display: inline-block;">Error</p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6 no-padding">
                                <label>CVV</label>
                                <input type="text" name="CVV" ng-model-options="{debounce: 200}" ng-change="checkErrorNumber(12)"
                                ng-model="travellerInfo[12]">
                                <p ng-hide="isError[12]" style="color:red;">Please input CVV.</p>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-6 input-form">
                    <h3 class="no-margin">DISCOUNT / E-CERTIFICATE CODE</h3>
                    <input type="text" name="confirmEmail" placeholder="Only One Code Can Be Used Per Order">
            </div>
        
        </div>-->

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-12">
                <p style="font-weight: bold; font-size: 14px;">To help us serve you better, please tell us more about your party.</p>
                <p style="font-weight: bold; font-size: 14px;">If you don’t have some names or email addresses, no problem. Your tickets will still be valid for entry.</p>
            </div>
        </div>

        <div class="row input-form">
            <h3 class="no-margin padding-right-left">Your Party</h3>
            <div class="col-md-6">
                <label class="no-margin">Guest Names:</label>
                <input style="margin-top: 10px;" type="text" placeholder="Name" ng-model="guests[$index].name"
                ng-repeat="x in guests track by $index">

            </div>
            <div class="col-md-6">
                <label class="no-margin" id="emailAddressesTitle">Email Addresses:</label>
                <input style="margin-top: 10px;" type="text" placeholder="Optional" ng-model="guests[$index].email"
                ng-repeat="x in guests track by $index">
            </div>
        </div>
    </div>
</div>

<div class="modal-body" ng-show="showStep[3]">
    <h1 style="text-align: center;">{{finalMessage}}</h1>
</div>

<div class="modal-footer" id="modal-footer-cus">
	<div id="current-step">Step {{step}} of 3</div>
    <button type="button" class="btn btn-primary hieu-button-cus" 
    ng-click="nextToStep2()" ng-show="showStep[1]">Continue</button>

    <button type="button" class="btn btn-primary hieu-button-cus" 
    ng-click="backToStep1()" ng-show="showStep[2]">Back</button>
    <button type="button" class="btn btn-primary hieu-button-cus"
     ng-click="nextToStep3()" ng-show="showStep[2]">Continue</button>
    
    <button type="button" class="btn btn-primary hieu-button-cus"
     ng-click="backToStep2()" ng-show="showStep[3]">Back</button>
    <button type="button" class="btn btn-primary hieu-button-cus" 
    ng-click="finish()" ng-show="showStep[3]">Finish</button>
</div>


