<div class="modal-header company-name">
	<button type="button" ng-click="closeModal()" class="closeButton">
		<i class="fa fa-times-circle fa-2x"></i>
	</button>
	<h4 class="modal-title">Da Nang Foody</h4>
</div>

<div class="modal-header">
    <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
</div>

<div class="modal-body">
    <div class="container-fluid no-padding" id="hieu-cus-font-size">
        <div class="row">
            <div id="calendar-wrap" class="col-md-4">
                <h3>CHOOSE A DAY</h3>
                <div datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
            </div>
        	<div id="review" class="col-md-8">
            	<h3 class="uppercase">About this experience</h3>
            	<p>REAL FOOD. REAL PLACES. REAL PEOPLE.</p>
        		<p>Testaccio is the original foodie neighborhood of Rome and where cucina romana (roman cuisine) was born. It is no coincidence that it’s known to Romans as the ‘heart of Rome’. Our guided 4-hour Walking Food Tour lets you experience Rome like a local, in an actual neighborhood where people live, eat and shop.</p>
        		<p>Featuring nine authentic food stops with 12 delicious tastings, you get to escape the crowds and taste the best of what the city has to offer.</p>
        		<p>Along the way, your guide will entertain and educate you with stories and insights into Rome’s culture and history, while exploring the city’s most fascinating offbeat landmarks. Take a break from being a tourist and discover the real Rome with us!</p>
        	</div>
        </div>

        <div class="row" style="border-top: 1px solid #e5e5e5;">
            <div id="time-wrap" class="col-md-4">
                <h3 class="uppercase inline-block">Select a time</h3>
                <div>
                    <p>No date selected</p>
                </div>
        	</div>
        	<div id="tickets-wrap" class="col-md-8">
                <h3 class="uppercase">How many ticket you will need.</h3>
                <div>
                    <p>No time selected</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer-cus">
	<div id="current-step">Step {{step}} of 3</div>
	<button type="button" class="btn btn-primary hieu-button-cus" ng-click="nextModal()">{{nextStep}}</button>
</div>


