.what-we-offer {
    padding: 20px 0;
}

.what-we-offer h2 {
    text-align: center;
    color: #243233;
    font-size: 25px;
    font-weight: 600;
}

.what-we-offer > div > p {
    margin: auto;
    text-align: center;
    width: 70%;
    font-weight: 500;
    color: #6C6C6C;
    text-transform: lowercase;
}

.what-we-offer .offer-item {
    text-align: center;
    margin: 60px 0;
}

.what-we-offer .offer-item img {
    width: 80px;
    height: 90px;
}

.what-we-offer .offer-item h3 {
    color: #5FA513;
    font-weight: 900;
}

.what-we-offer .offer-item > p {
    width: 100%;
    font-size: 14px;
    word-spacing: 0;
}

footer {
    overflow: hidden;
    background-color: #3F3F3F;
    padding: 10px 0;
}

footer div > img {
    width: 100px;
    height: 100px;
}
footer div ul li {
    line-height: 100px;
    list-style: none;
    display: inline;
    color: white;
    -webkit-transform: scale(2, 1);
    color: #FFFFFF;
    
}
footer div a {
    color: #C5B075 !important;
    font-size: 30px;
}
footer div ul{
   float: right;
}
footer div ul .footer-tell{
    border-right: 1px solid;
    border-left: 1px solid;
    padding-right: 7px;
    padding-left: 7px;
    margin: 0 7px;
}

footer .footer-info {
    text-align: right;
}

footer ul {
    display: inline;
    padding: 0;
}


@media only screen and (max-device-width: 680px) {
    footer .icon {
        text-align: center;
    }

    footer .footer-info {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .footer-tell {
       display: block;
    }
    footer .footer-social a i {
        font-size: 25px;
    }
    footer div ul li {
        font-size: 19px;


    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    footer .icon {
        text-align: left;

    }

    footer .footer-info {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer .footer-social a i {
        font-size: 25px;
    }
    footer div ul li {

        font-size: 19px;
    }

    footer .footer-social{
        display: block;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1239px){
    footer .footer-info {
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }
    footer .footer-tell{
        border-right: none!important;
        margin-right:0!important;
        padding-right: 0 !important;
    }
    footer .footer-social a i {
        font-size: 20px;
    }
    footer div ul li {
        font-size: 17px;
        display: inline;
    }


}
@media only screen and (min-device-width: 1240px){
    footer .footer-social{
        display: inline;
    }
    footer .footer-tell {
        display: inline;

    }

    footer .footer-social a i {
        font-size: 25px;
    }
    footer div ul li {
        font-size: 18px;
        display: inline;
    }


}