/*apply all element*/
body{
	background: #FFFFFF !important;
	min-width: 400px !important;
}
@font-face {
    font-family: myFirstFont;
    src: url(BEBASNEUE-LIGHT.OTF);
}
@font-face {
    font-family: mySecondFont;
    src: url(BEBASNEUE-LIGHT.OTF);
}
.header-ss{
	color: #243233;
	padding-left:15px;
	font-size: 35px;
	text-transform: uppercase;
	margin-top:15px;
	font-family: myFirstFont;
	font-weight: 900;
}
/*End apply all element*/
/*INFO TOUR*/
#ssinfo{
	min-height: 100px;
	overflow: hidden;
	padding-top: 20px;
}
.ssinfo-img{
	width: 100%	;
	overflow: hidden;
	position: relative;
}
.ssinfo-img img{
	width: 100%;
}
.info-container{
	position: relative;
}
.ssinfo-content{
	height: 100%;
	position: absolute;
	top: 10%;
	left: 0;
	padding-top: 20px;
	color: #D0D0D0;
	font-size: 16px;
}
#ssinfo.header-ss{
	margin-top:0;	
}
#ssinfo .header-ss{
	margin-top:0;	
}
#ssinfo h2{
	color: #5fa513 ;
	position: relative !important;
	text-transform: uppercase;
	font-weight: 600;
}
#ssinfo h2 em{
	position: relative !important;
	text-transform: uppercase;
	margin-left: 15px;
	color: #888888;
	font-size: 70%;
}
#ssinfo p{
	position: relative !important;
	color: #4A4A4A;
	font-weight: 500;
}
#ssinfo p strong{
	color: #5fa513 ;
	font-weight: 500;
}
#ssinfo .end-info{
	position: relative !important;
	text-transform: uppercase;
	color: #5fa513 ;
	font-size: 35px;
	text-transform: uppercase;
	font-family: myFirstFont;
	font-weight: 600;
}
.readmoreinfo{
	display: none;
}
.ssinfo-content .mobile-block{
	display: none;
}
/*END INFO TOUR*/


/*SHOW INFO TOUR*/
#show-info-tour{
	overflow: hidden;
}
.infor-tour-item{
	padding-top: 10px;
	padding: 15px;
	overflow: hidden;
	position: relative;
}
.infor-tour-item:hover{
	cursor: pointer;
}

.infor-tour-item h5{
	margin:20px 0 10px 0;
	font-size: 18px;
	color: #27ae60;
	font-weight:600;
	text-align:left;
}
.infor-tour-item p{
	text-align: justify;
	margin-bottom: 20px;
	min-height: 100px;
	font-size: 14px;
	color: #525252;
}
.info-show-item{
	border: 1px solid #CCC;
	width: 100%;
  	overflow: hidden;
  	position: relative;
}
.info-show-item img{
	width:100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.infor-tour-item:hover img{
	-moz-transform: scale(1.2);
  	-webkit-transform: scale(1.2);
  	transform: scale(1.2);
}
.button-booking-tour{
	background: #5fa513 !important;
	border: 0;
	border-radius: 0;
}
.infor-tour-item:hover .button-booking-tour{
	background: #7ED321 !important;
}
.info-img-eff{
    background: none;
	top:5%;
	left:5%;
	margin: 0;
    position: absolute;
    z-index: 99;
	width: 90%;
	height: 90%;
}
.infor-tour-item:hover .info-img-eff{
	border: 2px solid #FFFFFF;
}
/*ss3 slide*/
#ss3slider{
	padding: 2em 0;
}
#ss3slider h2{
	margin-bottom:20px;
	display: inline;
	padding-left: 0;
}
#ss3slider .carousel-ctrl{
	display: inline;
	border: 0;
	float: right;
	padding:2px 5px;
	margin-left: 15px;
	background: #5fa513;
	color: #FFF;
	cursor: pointer;
}
#ss3slider .carousel-item{
	margin-top: 20px;
}
#ss3slider .carousel-content{
	height: 180px !important;
	padding: 0;
}
#ss3slider .img-respon{
	width: 100% !important;
	height: inherit !important;
}

/*images effect*/
/* GENERAL BUTTON STYLING */
.img-respon{
	position: relative !important;
}
.img-effect{
  height: 230px;
  width: 93%;
  position: absolute !important;
  margin: 0 !important;
  padding: 0;
  top: 0;
  left: 15px;
  border-radius: 0 !important;
  opacity: 0.4
}
.img-effect,
.img-effect::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 2;
}

.img-effect::before,
.img-effect::after {
  background: #626262;
  content: '';
  position: absolute;
  z-index: 2;
}
/* effect 2 */
.effect-3::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.effect-3:hover:after {
  width: 100%;
}
/*end effect*/
@media only screen and (max-width: 1366px) {
	.multi-item-carousel .carousel-inner > .item {
	  -moz-transition: 500ms ease-in-out left;
	  -o-transition: 500ms ease-in-out left;
	  -webkit-transition: 500ms ease-in-out left;
	  transition: 500ms ease-in-out left;
	}
	.multi-item-carousel .carousel-inner .active.left {
	  left: -33%;
	}
	.multi-item-carousel .carousel-inner .active.right {
	  left: 33%;
	}
	.multi-item-carousel .carousel-inner .next {
	  left: 33%;
	}
	.multi-item-carousel .carousel-inner .prev {
	  left: -33%;
	}
	@media all and (transform-3d), (-webkit-transform-3d) {
	  .multi-item-carousel .carousel-inner > .item {
	    -webkit-transition: 500ms ease-in-out all;
	    transition: 500ms ease-in-out all;
	    -webkit-backface-visibility: visible;
	            backface-visibility: visible;
	    -webkit-transform: none!important;
	            transform: none!important;
	  }
	}
	.multi-item-carousel .carouse-control.left,
	.multi-item-carousel .carouse-control.right {
	  background-image: none;
	}

}

@media only screen and (max-width: 800px) {
	.ssinfo-content h2{
		font-size: 17px;
	}
	.ssinfo-content p{
		display: none;
		color: #000;
	}
	.ssinfo-content .mobile-block{
		display: block;
		margin-left: 15px;
	}
	.ssinfo-content p{
		margin: 5px;
		font-size: 12px;
	} 
	.ssinfo-content h2 em{
		display: inline;
	}
	.ssinfo-content .end-info{
		font-size: 17px;
	}
	.infor-tour-item p{
		min-height: 10px !important;
	}
	.readmoreinfo{
		background: #F5F5F5;
		padding-top:10px;
		padding-bottom: 10px;
	}
	.readmoreinfo h2{
		color: #21904B;
		text-align: left !important;
		padding:15px;
		width: 100%;
	}
	.readmoreinfo h2 em{
		text-align: left !important;	
	}
	.readmoreinfo p{
		text-align: justify;
		
	}
	.readmoreinfo .end-info{
		text-align: left;
	}
}
@media only screen and (max-width: 600px) {
	.info-container{
		padding: 0 !important;
	}
	.ssinfo-content{
		top: 0;
	}
	.infor-tour-item{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.infor-tour-item:nth-child(even){
		background: #F5F5F5;
	}
	.modile-none{
		display: none;
	}
	.ssinfo-content p{
		display: none;
		color: #000;
	}
	.ssinfo-content h2{
		font-size: 15px;
	}
	#ssinfo .header-ss{
		margin-top:30px;
	}
	.ssinfo-content h2 em{
		display: block;
		margin-left: 0px;
	}
	.ssinfo-content .mobile-block{
		display: block;
		margin-left: 15px;
	}
	.readmoreinfo{
		background: #F5F5F5;
		padding-top:10px;
		padding-bottom: 10px;
	}
	.readmoreinfo h2{
		color: #21904B;
		text-align: center !important;
		padding:0px;
	}
	.readmoreinfo h2 em{
		text-align: center !important;	
	}
	.readmoreinfo p{
		text-align: justify;
		
	}
	.readmoreinfo .end-info{
		text-align: center;
	}
}