.header-fade{
 height:50px !important; background-color:rgba(0,0,0,0.6); display:block; position:relative; top:100px
}

.section-img-header a{
	color:white;
}

.navbar-nav .scroll a:hover{
	color:black;
	background-color: #5fa513;
	transition:0.5s;
}

.navbar-nav .active a{
	background-color: #5fa513;
	color: black;
	transition:0.5s;
}

.section-img-header a:hover{
	color:white;
	text-decoration: none;
	transition:0.5s;
}

.header-foody-tour .call-us{
padding-top:20px;
padding-bottom:20px; margin-top:20px; margin-bottom:20px;
font-size:19px;
color:#5fa513;
text-align:right;
}

.header-foody-tour .call-us span{
	color: #5fa513;
}

.header-foody-tour a:hover{
	color:black;
	transition:0.5s;
}

.section-img-header{
	overflow: hidden;
	width:100%;
}
.header-foody-tour{
	background-color:white;
	height:100px;
}

.header-foody-tour .navbar-right{
	
	float:right;
}

.header-foody-tour .navbar-right .navbar-nav{
	float: right;
}

.header-foody-tour .navbar-right a{
	background-color:black;
	padding:15px;
	margin-top:20px;
}

.header-foody-tour .navbar-right a:hover{
	background-color:black;
	color:#5fa513;
	padding:15px;
	margin-top:20px;
}

.header-foody-tour .navbar-right button{
	border:none;
	background-color:#5fa513;
	padding:13px;
	margin-top:28px;
}


.booking-header{
	color:white;
	border:none;
	float:right;
	margin:1vw;
    margin-top:0px;
	padding:1vw;
	background-color:red;
    z-index:999;
    position:relative;
    
}

@keyframes seven {
    0%   {left:-300px; top:-50vw; opacity:0;}
    
    100% {left:60vw; top:-50vw;}
}

@keyframes dished {
    0%   {left:-300px; top:-620px; opacity:0;}
    50%  {left:-300px; top:-40vw;}
    100% {left:55vw;top:-40vw;}
}

@keyframes stories {
    0%   {left:2000px; top:0px; opacity:0;}
    30%  {left:2000px;top:-35vw;}
    100% {left:68vw;top: -35vw;}
}

@keyframes begin-here{
    0%   {left:-3300px; top:-35vw; opacity:0;}

    60%  {left:5vw;top: -35vw;opacity:1;}
    70%  {opacity:0.5}
    80%  {opacity:1}
    90% {opacity:0.5;}
    100% {opacity:0.8;}
}




.animation-carousel .seven{
	position: relative;
	left:60vw;top:-50vw;
    animation-name: seven;
    animation-duration: 1s;
    height:0px;
}
.animation-carousel .dishes{
	position: relative;
	left:55vw;top:-40vw;
    animation-name: dished;
    animation-duration: 2s;
    height:0px;
}

.animation-carousel .stories{
	position: relative;
	left:68vw;top: -35vw;
    animation-name: stories;
    animation-duration: 2.7s;
    height:0px;
}

.animation-carousel .begin-here{
	position: relative;
	left:5vw;top: -35vw;
    animation-name: begin-here;
    animation-duration: 6s;
    height:0px;
}

@font-face {
	font-family: Bebas;
	src: url(Bebas.otf);
}

@keyframes row-walking {
    0%   {left:3300px; top:0px; opacity:0;}
    50%  {left:3300px; top: -45vw;}
    100% {left:58vw;top: -45vw;}
}

@keyframes row-cyclo {
   	0%   {left:3300px; top:0px; opacity:0;}
    50%  {left:3300px; top: -35vw;}
    100% {left:58vw;top: -35vw;}
}

@keyframes row-taxi {
   	0%   {left:3300px; top:0px; opacity:0;}
    50%  {left:3300px; top: -25vw;}
    100% {left:58vw;top: -25vw;}
}
.row-walking{
	position: relative;
	left:58vw;top: -45vw;
    animation-name: row-walking;
    animation-duration: 1s;
    height:0px;
}

.row-cyclo{
	position: relative;
	left:58vw;top: -35vw;
    animation-name: row-cyclo;
    animation-duration: 1.5s;
    height:0px;
}


.row-taxi{
	position: relative;
	left:58vw;top: -25vw;
    animation-name: row-taxi;
    animation-duration: 2s;
    height:0px;
}


@keyframes logo{
    0%   {left:-3300px; top:-35vw; opacity:0;}

    60%  {left:10vw; top: -40vw;opacity:1;}
    70%  {opacity:0.5}
    80%  {opacity:1}
    90% {opacity:0.5;}
    100% {opacity:0.8;}
}

.logo-culinary{
	position: relative;
	left:5vw;top: -40vw;
    animation-name: logo;
    animation-duration: 6s;
    height:0px;
}
.logo-culinary img{
    width:20vw;
}

.header-img{
    width:6vw;
}

.header-h1{
font-family:Bebas; color:white; margin-left:2vw; margin-top:1vw; font-size:2vw;display:inline-block;}

.section-img-header .carousel-inner{
        height:100vh;
    }

.btn-info{
    background-color:#5fa513 !important;

}


@media only screen and (max-width: 950px) {
    /* For mobile phones: */
    .navbar-right{
    	display:none;
    }
    .call-us{
    	display:none;
    }
    .navbar-brand img{
    	position:relative;
    	width:40%;
    	left:0px;
    }
    .navbar-header{
    	margin:0px;
    }
    .header-foody-tour{
    background-color:white;
    height:13vw;
}
    .navbar-toggle .icon-bar{
    	border: solid 1px black;
    }
   .section-img-header .carousel-inner{
        height:55vw;
    }
    .header-fade{
        display:none;
    }
    .navbar-header{
        position:relative;
        top: -12vw;
    }
    .booking-header{
        
    }

}
@media only screen and (max-width: 450px) {
     .section-img-header .carousel-inner{
        height: 240px;
    }
    .navbar-collapse{
        position:relative; top:-50px;
    background-color:rgba(0,0,0,0.6);
}
.booking-header{
        display: none;
    }
}