/*SECTION 2*/
.m-progress-bar {
  min-height: 1em;
  background: #c12d2d;
  width: 5%;
}

#demo-modal-3 {
  z-index: 99999;
}

#show-tour-booking {
  min-height: 550px;
  overflow: hidden;
}

.showtour-item {
  padding: 0 !important;
}

.show-img-tour {
  width: 100%;
  height: 550px;
  border: 1px solid #CCC;
  padding: 0;
  display: block;
  position: absolute;
}

.show-img-tour img {
  width: 100%;
  height: 550px;
  max-width: 100%;
  border: 1px solid #CCC;
  z-index: 1;
  transform: scaleY(1);
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transition: all 0.7s ease-in-out 0s;
  -moz-transition: all 0.7s ease-in-out 0s;
  -webkit-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
}

.img-effect-hover {
  height: 550px;
  background: rgba(0,0,0,0.8);
  display: block;
  position: relative;
  z-index: 99;
  width: 100%;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

.img-effect-hover:hover img {
  background: rgba(0,0,0,0.2);
}

.img-effect-hover:hover {
  background: rgba(0,0,0,0.2);
}

.button-show-info {
  width: 330px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
}

.button-show-info button {
  background: none !important;
  color: #5B5B5B;
  opacity: 0.6;
  font-size: 25px;
  font-weight: 700;
  border: 0 !important;
  border-radius: 0 !important;
  border-top: 1px solid #5B5B5B !important;
  border-bottom: 1px solid #5B5B5B !important;
}

.button-show-info button:hover {
  background: #FA5706 !important;
}

.img-effect-hover:hover button {
  background: #E76220 !important;
  color: #FFFFFF;
  opacity: 1 !important;
}

.button-show-info >button:active, .button-show-info >button:visited {
  background: #6C7AFF !important;
  opacity: 1;
}

.info-tour {
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 15px;
  background: #8c99a3;
}

.info-header strong {
  font-weight: 600;
  background: #B0B0B0;
  padding: 5px 20px;
  color: #000000;
}

.btn-booking-now {
  display: block;
  position: absolute;
  margin: auto;
  background: #DA520E !important;
  border: 1px solid #DA520E;
  color: #FAF1F1;
  font-size: 25px !important;
  font-weight: 700 !important;
  align-content: center;
  left: 150px;
  margin-bottom: 10px;
}

.btn-booking-now:hover {
  background: #E0733C !important;
  opacity: 1;
}

/*multi view */
inline-block {
  display: inline-block;
}

.company-name {
  background-color: #e5e5e5;
  color: #414141;
  font-size: 18px;
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.booking-title {
  color: #414141;
  font-size: 30px;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
}

.closeButton {
  float: right;
  border: 0;
  background-color: #e5e5e5;
}

.modal-current {
  width: 150px;
  float: left;
}

.modal-current p {
  text-align: left;
}

.input-form {
  border: 1px solid #a9a9a9;
}

.input-form label, .input-form input {
  display: inline-block;
  width: 100%;
}

/*Slide show images*/
#show-img-carousel {
  position: relative;
}

.main-carousel-img1 {
  position: absolute;
}

.main-carousel-img1 {
  padding: 0 !important;
  border: 1px solid #D4D8D8;
  position: relative;
  display: inline;
  height: 400px;
  width: 600px;
  background: #FFD566;
}

.main-carousel-img2 {
  padding: 0 !important;
  border: 1px solid #f60;
  position: absolute;
  margin: 0px;
  height: 100%;
  width: 100%;
  margin-left: 120px;
  background: #B4ACB4;
}

.main-carousel-img {
  margin: 5px;
  padding: 0 !important;
  border: 5px solid #D4D8D8;
  position: relative;
  position: absolute;
}

/*SECTION 3*/
.Tot_Accord_Link_1 {
  position: absolute;
  top: 50%;
  overflow: hidden;
  text-align: center;
  background: rgba(221,51,51,0.42);
  line-height: 20px;
  font-size: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
  left: 50%;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}

 .Tot_Accord_Link_1:hpver {
 color:#0084aa !important;
}

.ia-container_1 {
  position: relative;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
  border: 7px solid rgba(255,255,255,0.6);
}

.ia-container_1 .figure_1 {
  position: absolute;
  top: 0;
  height: 100% !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ia-container_1 > .figure_1 {
  position: relative;
  left: 0 !important;
}

.ia-container_1 .img_1 {
  display: block;
  width: 100%;
  height: 100% !important;
}

.ia-container_1 .input_1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ia-container_1 .input_1:checked {
  width: 5px !important;
  left: auto;
  right: 0px;
}

.ia-container_1 .input_1:checked ~ .figure_1 {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 100% !important;
}

.ia-container_1 .figcaption_1 {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ia-container_1 .figcaption_1 .span_1 {
  position: absolute;
  top: 40%;
  overflow: hidden;
  text-align: center;
  background: rgba(87, 73, 81, 0.3);
  line-height: 20px;
  font-size: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  letter-spacing: 4px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 20px;
  max-width: 100%;
  left: 50%;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}

.ia-container_1 .input_1:checked + .figcaption_1, .ia-container_1 .input_1:checked:hover + .figcaption_1 {
  background: rgba(87, 73, 81, 0);
}

.ia-container_1 .input_1:checked + .figcaption_1 .span_1 {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;
  top: 50%;
}

.ia-container_1 .input_1:checked + .figcaption_1 a {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;
  top: 80%;
}

.ia-container_1 #ia-selector-last:checked + .figcaption_1 .span_1 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ia-container_1 .input_1:hover + .figcaption_1 {
  background: rgba(87, 73, 81, 0.03);
}

.ia-container_1 .input_1:checked ~ .figure_1 .input_1 {
  z-index: 1;
}

.figure_1 {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.span_1 {
  font-family: Aldhabi;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 3px 3px 3px;
  font-size: 21.584px;
  line-height: 23.584px;
  padding: 20.235px;
  background: rgba(0, 132, 170, 0.65098) !important;
}

/*footer*/
#footer {
  height: 50px;
  background: #7D7D7D;
}

.copyright {
  float: left;
  line-height: 50px;
  color: #D8D8D8;
  font-size: 13px;
}

.owner {
  color: #D8D8D8;
  float: right;
  line-height: 50px;
  font-size: 13px;
}

.owner strong {
  color: #FFC5B0;
  font-weight: bold;
}

.owner a:hover {
  text-decoration: none !important;
}

.owner strong:hover {
  color: #C0FFA6;
  font-weight: bold;
}

.header-topbar .row-fluid {
  height: 70px;
}

#logo {
  margin-top: 0;
}

.topbar_info {
  margin-top: 25px;
}

.social_icon {
  margin-top: 17px;
}

.header-topbar {
  z-index: 9999;
  position: relative;
}

.ia-container_1 {
  margin: 0 auto !important;
  width: 100% !important;
}

.iconbox-content-edit {
  margin-top: 15px;
}


/*Responsive*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
#featured-box .mid-box {
  margin-top: 20px !important;
}

}

