<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lemon" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<section class="what-we-offer container">
    <div class="offer-title">
        <h2>WHAT WE OFFER</h2>
        <p class="hidden-xs">ENJOYING GREAT FOOD AND WINE IS TWO OF LIFE'S GREAT PLEASURES AND WE SINCERELY HOPE THAT
            YOU EXPERIENCE BOTH
            DURING YOUR TIME WITH US ...TODAY AND ALWAYS!</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 offer-item">
        <img src="images/circle-of-friends-icon-png-24427.png">
        <h3>WHO</h3>
        <p>The atmosphere of real Italy rules the mood at our restaurant. We offer you </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 offer-item">
        <img src="images/food-png-2958.png">
        <h3>WHAT</h3>
        <p>The atmosphere of real Italy rules the mood at our restaurant. We offer you not only the best recipes of
            typical Italian dishes also </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 offer-item">
        <img src="images/iconStorelocatorLight.svg">
        <h3>WHERE</h3>
        <p>The atmosphere of real Italy rules the mood at our restaurant. We offer you not only the best recipes of
            typical Italian dishes also the</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 offer-item">
        <img src="images/food-png-2958.png">
        <h3>WHY</h3>
        <p>The atmosphere of real Italy rules the mood at our restaurant. We offer you not only the best recipes of
            typical Italian dishes also the mood of many things: </p>
    </div>

</section>
<footer>
    <div class="container">
        <div class="col-md-4 col-sm-4 icon">
            <img src="images/unnamed.png" width=100px>
        </div>

        <div class="col-md-8 footer-info ">
            <ul>
                <li>Contacts 28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</li>
                <li class="footer-tell">Tel:800-2345-6789</li>
            </ul>
            <div class="footer-social ">
                <a><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                <a><i class="fa fa-vimeo-square" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>


</footer>