<div class="container">
	<div class="row">
		<div class="info-container col-md-12">
			<div class="ssinfo-img">
				<img src="images/info.jpg" class="img-responsive" alt="">
			</div>

			<div class="ssinfo-content">
				<h2 class="header-ss">{{'INFO.TITLE'| translate}}<em>{{'INFO.DESCRIPTION'| translate}}</em></h2>
				<p class="col-md-7 col-sm-12"  ng-bind-html="'INFO.CONTENT2'| translate"></p>
				<p class="col-md-7 col-sm-12"  ng-bind-html="'INFO.CONTENT3'| translate"></p>
				<p class="end-info col-md-12">{{'INFO.PS'| translate}}</p>
			</div>
		</div>
		<div class="readmoreinfo">
	      <h2 class="header-ss">{{'INFO.TITLE'| translate}}<em>{{'INFO.DESCRIPTION'| translate}}</em></h2>
	      <p class="col-md-7 col-sm-12">{{'INFO.CONTENT2'| translate}}</p>
	      <p class="col-md-7 col-sm-12">{{'INFO.CONTENT3'| translate}}</p>
	      <p class="end-info col-md-12">{{'INFO.PS'| translate}}</p>
		</div>
	</div>
</div>
