
<section class="what-we-offer container">
    <div class="offer-title">
        <h2 class="header-ss">What We Offer</h2>
        <p class="hidden-xs">{{offerTitle}}</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 offer-item" ng-repeat="item in offerItem">
        <img ng-src="{{item.imgUrl}}">
        <h3>{{item.title}}</h3>
        <p>{{item.content}}</p>
    </div>
</section>
<footer>
    <div class="container">
        <div class="col-md-2 icon">
            <img src="images/unnamed.png">
        </div>

        <div class="col-md-10 footer-info">
            <ul>
                <li>Contacts 28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</li>
                <li class="footer-tell">Tel:800-2345-6789</li>
                <li >
                    <a href="https://www.facebook.com/Danangfoody" class="eff fb-icon-eff" ><i class="fa fa-facebook " aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/danangfoody" class="eff intar-icon-eff"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCDYhuiZzJ1wQLkhq09-nrDw" class="eff tube-icon-eff"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href="Booking@danangfoody.com" class="eff gmail-icon-eff"><i class="eff fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#" style="background: none !important;"><i>&nbsp;</i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>