
<section class="section-img-header">
  <div class="container">
    <div class="header-foody-tour col-md-12 col-xs-12 col-sm-12">
      <a class="navbar-brand col-md-3 col-xs-3 col-sm-3" href="index.html"><img src="images/logo.png" width="300px" alt="logo"></a> 
      <a class="call-us col-md-3 col-xs-3 col-sm-3" href="index.html"> <i class="fa fa-phone"></i> <span>Call Us:</span> +84-905-631-419 </a> 
      <div class="navbar-right col-md-6 col-xs-12 col-sm-12">
        <div class="nav navbar-nav">
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-google"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
      </button> 
    </div> 
    <div class="collapse navbar-collapse"> 
      <ul class="nav navbar-nav"> 
        <li class="scroll active"><a href="#home">Home</a></li> 
        <li class="scroll"><a href="#danang">Danang</a></li> 
        <li class="scroll"><a href="#food">Food</a></li> 
        <li class="scroll"><a href="#tour">Tour</a></li> 
      </ul>
      <button class="booking-header">BOOKING NOW</button>
    </div>
  <div class="animation-carousel">
    <img class="dishes" src="images/Untitled-2.png" width="10%" style="background-color:black; padding:10px">
    <img class="seven" src="images/Untitled-1.png">
    <img class="stories" src="images/Untitled-3.png" width="14%" style="background-color:white; padding-right:10px; padding-left:10px">
    <img class="begin-here" src="images/Untitled-4.png" width="60%" style="background-color:white; padding-right:10px; padding-left:10px">
  </div>
<div class="row-walking">
  <img src="images/walking.png" width=70px>
  <div class="content">WALKING</div>
</div>
<div class="row-cyclo">
  <img src="images/cyclo.png" width=70px>
  <div class="content">CYCLO</div>
</div>
<div class="row-taxi">
  <img src="images/taxi.png" width=70px>
  <div class="content">TAXI</div>
</div>
</section>
