<div class="container">
        <div class="col-md-2 icon">
            <img src="images/unnamed.png">
        </div>

        <div class="col-md-10 footer-info">
            <ul>
                <li>Mail: Booking@danangfoody.com</li>
                <li class="footer-tell">Tel:800-2345-6789</li>
                <li >
                    <a href="https://www.facebook.com/Danangfoody" target="_blank" class="eff fb-icon-eff" ><i class="fa fa-facebook " aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/danangfoody" target="_blank"  class="eff intar-icon-eff"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCDYhuiZzJ1wQLkhq09-nrDw" target="_blank"  class="eff tube-icon-eff"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href="#" style="background: none !important;"><i>&nbsp;</i></a>
                </li>
            </ul>
        </div>
    </div>