
  <div class="container">
    <div class="row">
      <h2 class="header-ss">tour</h2>
        <div class="col-md-4 infor-tour-item" ng-repeat="ss2showinfo in ss2showinfos">
        <div class="info-show-item"><img ng-src="{{ss2showinfo.ss2image}}" alt=""/> 
          <div class="info-img-eff"> </div>
        </div>
        <div>
          <h5>{{ss2showinfo.ss2title}}</h5>
          <p align="left" ng-bind-html="ss2showinfo.ss2content"></p>
          <button type="button" ng-click="openModal()" data-toggle="modal" data-target="{{ss2showinfo.ss2id}}" class="btn btn-primary button-booking-tour">BOOKING</button></div>
      </div>
    </div>
  </div>