<div class="container">
	<div class="row">
		<div class="info-container col-md-12">
			<div class="ssinfo-img">
				<img src="images/info.jpg" class="img-responsive" alt="">
			</div>
			<div class="ssinfo-content">
				<h2 class="header-ss">foody story tour<em>(in Chinese/Korean/English)</em></h2>
				<p class="col-md-7 col-sm-12">Did you know many Vietnamese cuisines include five fundamental tastes to representing the Five Elements (Wu Xing) of Balance in ancient Asian astrology and philosophy? Spiciness represents metal, sourness for wood, bitterness symbolizes fire, saltiness signifies water, and sweetness is for Earth.</p>
				<p class="col-md-7 col-sm-12">If your palate desires a true local foody adventure instead of settling for the “tourist food” at restaurants reviewed on travel websites by other tourists; If your curiosity craves for a deeper and immersed experience about history, culture, and the people of Vietnam, then the <strong>FOODY STORY TOUR</strong> is the tour designed for you. In this 4-hour tour, our local foody ambassador will showcase to you 7 dishes, and the 7 stories behind them</p>
				<p class="end-info col-md-12">The story begins here</p>
				<div class="mobile-block">
					<button id="show-info" type="button" class="btn btn-sm btn-primary">READ MORE</button>
				</div>
			</div>
		</div>
		<div class="readmoreinfo">
			<h2 class="header-ss">foody story tour<em>(in Chinese/Korean/Engli</em></h2>
			<p class="col-md-7 col-sm-12">Did you know many Vietnamese cuisines include five fundamental tastes to representing the Five Elements (Wu Xing) of Balance in ancient Asian astrology and philosophy? Spiciness represents metal, sourness for wood, bitterness symbolizes fire, saltiness signifies water, and sweetness is for Earth.</p>
			<p class="col-md-7 col-sm-12">If your palate desires a true local foody adventure instead of settling for the “tourist food” at restaurants reviewed on travel websites by other tourists; If your curiosity craves for a deeper and immersed experience about history, culture, and the people of Vietnam, then the <strong>FOODY STORY TOUR</strong> is the tour designed for you. In this 4-hour tour, our local foody ambassador will showcase to you 7 dishes, and the 7 stories behind them</p>
			<p class="end-info col-md-12">The story begins here</p>
		</div>	
	</div>
</div>
<script>
	$('#show-info').click(function(){
        $('.readmoreinfo').toggle();
    });

</script>