<div class="container">
  <div class="row">
    <h2 class="header-ss">{{'HEADER.TOUR' | translate}}</h2>
    <div class="col-md-4 infor-tour-item">
      <div class="info-show-item"><img src="images/Walking.jpg" alt=""/>
        <div class="info-price">
          <p>$25 <br/>/Person</p>
          <p>Walking</p>
        </div>
        <div class="info-img-eff"></div>
      </div>
      {{hello}}
      <div>
        <h5>{{'SLIDE.WALKING' | translate}}</h5>
        <p align="left" class="content-info" ng-bind-html="'TOUR.WCONTENT' | translate"></p>
        <button type="button" ng-click="openModal()" data-toggle="modal" class="btn btn-primary button-booking-tour">
          {{'TOUR.BTN' | translate}}
        </button>
      </div>
    </div>
    <div class="col-md-4 infor-tour-item">
      <div class="info-show-item"><img src="images/Walking.jpg" alt=""/>
        <div class="info-price">
          <p>$25 <br/>/Person</p>
          <p>Walking</p>
        </div>
        <div class="info-img-eff"></div>  
        <div class="info-img-eff"></div>
      </div>
      <div>
        <h5>{{'SLIDE.CYCLO' | translate}}</h5>
        <p align="left" class="content-info" ng-bind-html="'TOUR.CCONTENT' | translate"></p>
        <button type="button" ng-click="openModal()" data-toggle="modal" class="btn btn-primary button-booking-tour">
          {{'TOUR.BTN' | translate}}
        </button>
      </div>
    </div>
    <div class="col-md-4 infor-tour-item">
      <div class="info-show-item"><img src="images/Walking.jpg" alt=""/>
        <div class="info-price">
          <p>$25 <br/>/Person</p>
          <p>Walking</p>
        </div>
        <div class="info-img-eff"></div>
        <div class="info-img-eff"></div>
      </div>
      <div>
        <h5>{{'SLIDE.TAXI' | translate}}</h5>
        <p align="left" class="content-info" ng-bind-html="'TOUR.TCONTENT' | translate"></p>
        <button type="button" ng-click="openModal()" data-toggle="modal" class="btn btn-primary button-booking-tour">
          {{'TOUR.BTN' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
