<div class="container">
    <div class="row">
      <h2 class="header-ss">CURRENT TOPICS</h2>
      <div class="slider-new-show">
        <div class="col-md-4 select-slider"> <img src="images/1.jpg" alt="" data-toggle="modal" data-target="#myShowIMG1"/> <img src="images/2.jpg" alt="" data-toggle="modal" data-target="#myShowIMG2"/> </div>
        <div id="carousel-bounding-box" class="col-md-8 content-slider" >
          <div class="carousel slide" id="myCarousel2"> 
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item content-slider" data-toggle="modal" data-target="#myShowIMG1" data-slide-number="0"> <img src="images/1.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG2" data-slide-number="1"> <img src="images/2.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG3" data-slide-number="2"> <img src="images/3.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG4" data-slide-number="3"> <img src="images/4.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG5" data-slide-number="4"> <img src="images/5.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG6" data-slide-number="5"> <img src="images/6.jpg" alt=""/> </div>
              <div class="item content-slider" data-toggle="modal" data-target="#myShowIMG7" data-slide-number="6"> <img src="images/7.jpg" alt=""/> </div>
            </div>
            <!-- Carousel nav -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
              <li data-target="#myCarousel2" data-slide-to="3"></li>
              <li data-target="#myCarousel2" data-slide-to="4"></li>
              <li data-target="#myCarousel2" data-slide-to="5"></li>
              <li data-target="#myCarousel2" data-slide-to="6"></li>
            </ol>
          </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div id="myShowIMG1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/1.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/2.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG3" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/3.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG4" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/4.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG5" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/5.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG6" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/6.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      <!-- Modal -->
      <div id="myShowIMG7" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg"> 
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close class-modal-ss3" data-dismiss="modal">&times;</button>
              <img src="images/7.jpg" width="100%;" alt=""/> </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, ex quod culpa ullam ab corrupti illum veniam excepturi totam repellat iure laborum deserunt amet fugit atque porro. Ducimus, maxime!</p>
            </div>
          </div>
        </div>
      </div>
      <!--End modal--> 
      
    </div>
  </div>