<form class="modal fade multi-step" id="demo-modal-1">
    <div class="modal-dialog modal-lg       ">
        <div class="modal-content">
            <div class="modal-header company-name">
                <button type="button" data-dismiss="modal" class="closeButton"><i class="fa fa-times-circle"></i></button>
                <h4 class="modal-title">Da Nang Foody</h4>
            </div>
            <div class="modal-header">
                <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
            </div>
            <div class="modal-body step-1" data-step="1">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div id="calendar-wrap" class="col-md-4">
                            <h3>CHOOSE A DAY</h3>
                        </div>
                        <div id="review" class="col-md-8">
                            <h3 class="uppercase">About this experience</h3>
                        
                            <p>REAL FOOD. REAL PLACES. REAL PEOPLE.</p>
                            <p>Testaccio is the original foodie neighborhood of Rome and where cucina romana (roman cuisine) was born. It is no coincidence that it’s known to Romans as the ‘heart of Rome’. Our guided 4-hour Walking Food Tour lets you experience Rome like a local, in an actual neighborhood where people live, eat and shop.</p>
                            <p>Featuring nine authentic food stops with 12 delicious tastings, you get to escape the crowds and taste the best of what the city has to offer.</p>
                            <p>Along the way, your guide will entertain and educate you with stories and insights into Rome’s culture and history, while exploring the city’s most fascinating offbeat landmarks. Take a break from being a tourist and discover the real Rome with us!</p>
                       
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #e5e5e5;">
                        <div id="time-wrap" class="col-md-4">
                            <h3 class="uppercase inline-block">Select a time</h3>
                            <div>
                                <p>No date selected</p>
                            </div>
                        </div>
                        <div id="tickets-wrap" class="col-md-8">
                            <h3>How many ticket you will need.</h3>
                            <div>
                                <p>No time selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body step-2" data-step="3">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div class="col-md-6 input-form">
                            <h3>BILLING INFORMATION</h3>
                            <label>Purchaser's name</label>
                            <input type="text" name="name" placeholder="Name">
                            <label>Address</label>
                            <input type="text" name="address" placeholder="Address">
                            <label>Country</label>
                            <input type="text" name="country" placeholder="Country">
                            <label>City</label>
                            <input type="text" name="city" placeholder="City">
                        </div>
                        <div class="col-md-6">
                            <h3>PAYMENT MEDTHOD</h3>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-body step-3" data-step="3">
              
            </div>
            <div class="modal-footer" style="background-color: #e5e5e5;">
                <div class="modal-current">
                    <p class="step-1" data-step="1">Step 1 of 3</p>
                    <p class="step-2" data-step="2">Step 2 of 3</p>
                    <p class="step-3" data-step="3">Step 3 of 3</p>
                </div>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="nextEvent('#demo-modal-4', 2)">Continue</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="nextEvent('#demo-modal-4', 3)">Continue</button>
            </div>
        </div>
    </div>
</form>
<form class="modal fade multi-step" id="demo-modal-2">
    <div class="modal-dialog modal-lg       ">
        <div class="modal-content">
            <div class="modal-header company-name">
                <button type="button" data-dismiss="modal" class="closeButton"><i class="fa fa-times-circle"></i></button>
                <h4 class="modal-title">Da Nang Foody</h4>
            </div>
            <div class="modal-header">
                <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
            </div>
            <div class="modal-body step-1" data-step="1">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div id="calendar-wrap" class="col-md-4">
                            <h3>CHOOSE A DAY</h3>
                        </div>
                        <div id="review" class="col-md-8">
                            <h3 class="uppercase">About this experience</h3>
                        
                            <p>REAL FOOD. REAL PLACES. REAL PEOPLE.</p>
                            <p>Testaccio is the original foodie neighborhood of Rome and where cucina romana (roman cuisine) was born. It is no coincidence that it’s known to Romans as the ‘heart of Rome’. Our guided 4-hour Walking Food Tour lets you experience Rome like a local, in an actual neighborhood where people live, eat and shop.</p>
                            <p>Featuring nine authentic food stops with 12 delicious tastings, you get to escape the crowds and taste the best of what the city has to offer.</p>
                            <p>Along the way, your guide will entertain and educate you with stories and insights into Rome’s culture and history, while exploring the city’s most fascinating offbeat landmarks. Take a break from being a tourist and discover the real Rome with us!</p>
                       
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #e5e5e5;">
                        <div id="time-wrap" class="col-md-4">
                            <h3 class="uppercase inline-block">Select a time</h3>
                            <div>
                                <p>No date selected</p>
                            </div>
                        </div>
                        <div id="tickets-wrap" class="col-md-8">
                            <h3>How many ticket you will need.</h3>
                            <div>
                                <p>No time selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body step-2" data-step="3">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div class="col-md-6 input-form">
                            <h3>BILLING INFORMATION</h3>
                            <label>Purchaser's name</label>
                            <input type="text" name="name" placeholder="Name">
                            <label>Address</label>
                            <input type="text" name="address" placeholder="Address">
                            <label>Country</label>
                            <input type="text" name="country" placeholder="Country">
                            <label>City</label>
                            <input type="text" name="city" placeholder="City">
                        </div>
                        <div class="col-md-6">
                            <h3>PAYMENT MEDTHOD</h3>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-body step-3" data-step="3">
              
            </div>
            <div class="modal-footer" style="background-color: #e5e5e5;">
                <div class="modal-current">
                    <p class="step-1" data-step="1">Step 1 of 3</p>
                    <p class="step-2" data-step="2">Step 2 of 3</p>
                    <p class="step-3" data-step="3">Step 3 of 3</p>
                </div>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="nextEvent('#demo-modal-4', 2)">Continue</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="nextEvent('#demo-modal-4', 3)">Continue</button>
            </div>
        </div>
    </div>
</form>
<form class="modal fade multi-step" id="demo-modal-3">
    <div class="modal-dialog modal-lg       ">
        <div class="modal-content">
            <div class="modal-header company-name">
                <button type="button" data-dismiss="modal" class="closeButton"><i class="fa fa-times-circle"></i></button>
                <h4 class="modal-title">Da Nang Foody</h4>
            </div>
            <div class="modal-header">
                <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
            </div>
            <div class="modal-body step-1" data-step="1">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div id="calendar-wrap" class="col-md-4">
                            <h3>CHOOSE A DAY</h3>
                        </div>
                        <div id="review" class="col-md-8">
                            <h3 class="uppercase">About this experience</h3>
                        
                            <p>REAL FOOD. REAL PLACES. REAL PEOPLE.</p>
                            <p>Testaccio is the original foodie neighborhood of Rome and where cucina romana (roman cuisine) was born. It is no coincidence that it’s known to Romans as the ‘heart of Rome’. Our guided 4-hour Walking Food Tour lets you experience Rome like a local, in an actual neighborhood where people live, eat and shop.</p>
                            <p>Featuring nine authentic food stops with 12 delicious tastings, you get to escape the crowds and taste the best of what the city has to offer.</p>
                            <p>Along the way, your guide will entertain and educate you with stories and insights into Rome’s culture and history, while exploring the city’s most fascinating offbeat landmarks. Take a break from being a tourist and discover the real Rome with us!</p>
                       
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #e5e5e5;">
                        <div id="time-wrap" class="col-md-4">
                            <h3 class="uppercase inline-block">Select a time</h3>
                            <div>
                                <p>No date selected</p>
                            </div>
                        </div>
                        <div id="tickets-wrap" class="col-md-8">
                            <h3>How many ticket you will need.</h3>
                            <div>
                                <p>No time selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body step-2" data-step="3">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div class="col-md-6 input-form">
                            <h3>BILLING INFORMATION</h3>
                            <label>Purchaser's name</label>
                            <input type="text" name="name" placeholder="Name">
                            <label>Address</label>
                            <input type="text" name="address" placeholder="Address">
                            <label>Country</label>
                            <input type="text" name="country" placeholder="Country">
                            <label>City</label>
                            <input type="text" name="city" placeholder="City">
                        </div>
                        <div class="col-md-6">
                            <h3>PAYMENT MEDTHOD</h3>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-body step-3" data-step="3">
              
            </div>
            <div class="modal-footer" style="background-color: #e5e5e5;">
                <div class="modal-current">
                    <p class="step-1" data-step="1">Step 1 of 3</p>
                    <p class="step-2" data-step="2">Step 2 of 3</p>
                    <p class="step-3" data-step="3">Step 3 of 3</p>
                </div>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="nextEvent('#demo-modal-4', 2)">Continue</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="nextEvent('#demo-modal-4', 3)">Continue</button>
            </div>
        </div>
    </div>
</form>
<section id="show-tour-booking">
  <div class="row">
    <div class="col-md-4 showtour-item">
      <div class="show-img-tour">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/cf/9d/5d/cf9d5d4d86385f5119f4443a4da59ff6.jpg" alt="">
      </div>  
      <div class="img-effect-hover">
        <div class="button-show-info">
          <button data-toggle="collapse" data-target="#demo1" class="btn btn-primary" type="button"  aria-expanded="false" aria-controls="show-info">BOOKING</button>
          <div id="demo1" class="collapse info-tour">
            <div class="info-food-tour">
              <h3>Taste of Testaccio.</h3>
              <p class="info-header"><strong>ROME · FOOD TOUR</strong></p>
              <p class="info-time-tour">Mon-Sat 9:45am, 10:30am, 11:15am, 12pm</p>
              <p class="info-price-tour">Adult: €77 • Adolescent: €60</p>

              <button class="btn btn-default btn-booking-now" data-toggle="modal" data-target="#demo-modal-3">BOOKING</button>
            </div>
          </div>

        </div>    
      </div>
    </div>

    <div class="col-md-4 showtour-item">
      <div class="show-img-tour">
        <img src="http://static.diadiemanuong.com/review/30702/IMG_0308_zps8ee43e92.jpg" alt="">
      </div>  
      <div class="img-effect-hover">
        <div class="button-show-info">
          <button data-toggle="collapse" data-target="#demo2" class="btn btn-primary" type="button"  aria-expanded="false" aria-controls="show-info">BOOKING</button>
          <div id="demo2" class="collapse info-tour">
            <div class="info-food-tour">
              <h3>Taste of Testaccio.</h3>
              <p class="info-header"><strong>ROME · FOOD TOUR</strong></p>
              <p class="info-time-tour">Mon-Sat 9:45am, 10:30am, 11:15am, 12pm</p>
              <p class="info-price-tour">Adult: €77 • Adolescent: €60</p>

              <button class="btn btn-default btn-booking-now" data-toggle="modal" data-target="#demo-modal-3">BOOKING</button>
            </div>
          </div>

        </div>    
      </div>
    </div>

    <div class="col-md-4 showtour-item">
      <div class="show-img-tour">
        <img src="http://www.foodstylistvn.com/wp-content/uploads/2012/09/salad-nga-egret-grass-food-stylist.jpg" alt="">
      </div>  
      <div class="img-effect-hover">
        <div class="button-show-info">
          <button data-toggle="collapse" data-target="#demo3" class="btn btn-primary" type="button"  aria-expanded="false" aria-controls="show-info">BOOKING</button>
          <div id="demo3" class="collapse info-tour">
            <div class="info-food-tour">
              <h3>Taste of Testaccio.</h3>
              <p class="info-header"><strong>ROME · FOOD TOUR</strong></p>
              <p class="info-time-tour">Mon-Sat 9:45am, 10:30am, 11:15am, 12pm</p>
              <p class="info-price-tour">Adult: €77 • Adolescent: €60</p>
              <button class="btn btn-default btn-booking-now" data-toggle="modal" data-target="#demo-modal-3">BOOKING</button>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>  
</section>
<section id="show-img-carousel">
  <div class="row">
    </div>
  </div>
</section>