<div class="source-list-modal">
            <div class="modal-header">
                <h3 class="modal-title">
                    My Modal Title
                </h3>
                <div class="controls">
                    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
                </div>
            </div>
            <div class="modal-body">
                <my-directive
                    some-data="syncData"
                    more-data="asyncData">
                </my-directive>
            </div>
        </div>