<div class="modal-header company-name">
	<button type="button" ng-click="closeModal()" class="closeButton">
		<i class="fa fa-times-circle fa-2x"></i>
	</button>
	<h4 class="modal-title">Da Nang Foody</h4>
</div>

<div class="modal-header">
    <h1 class="no-margin booking-title">Da Nang Foods Tour</h1>
</div>

<div class="modal-body">
    <div class="container-fluid">
    	<div class="row" style="margin-bottom: 15px;">
    		<div class="col-md-6 input-form">
    			<h3 class="no-margin">BILLING INFORMATION</h3>
                    <label>Purchaser's name</label>
                    <input type="text" name="name" placeholder="Name">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Address">
                   	<label>Country</label>
                    <input type="text" name="country" placeholder="United States">
                    <label>City</label>
                	<input type="text" name="city" placeholder="">
                	<label>Zip/Postal Code</label>
                	<input type="text" name="Zip/Postal Code" placeholder="">
                	<label>Email <p>(Your Ticket will be sent here)</p></label>
                	<input type="text" name="email" placeholder="">
                	<label>Confirm Email</label>
                	<input type="text" name="confirmEmail" placeholder="">
                	<label>Cell Phone <p>(In Case of Emergency)</p></label>
                	<input type="text" name="cellphone" placeholder="">
    		</div>
    		<div class="col-md-6">
    			<div class="input-form padding-right-left" style="margin-bottom: 15px;">
    				<h3 class="no-margin">PAYMENT METHOD</h3>
    				<div id="payment-method-wrap">
    					<div id="acceptedCard">
    						<img src="https://dn7ywugacz495.cloudfront.net/images/payment_logos/visa.png">
    						<img src="https://dn7ywugacz495.cloudfront.net/images/payment_logos/amex.png">
    						<img src="https://dn7ywugacz495.cloudfront.net/images/payment_logos/mastercard.png">
    						<img src="https://dn7ywugacz495.cloudfront.net/images/payment_logos/discover.png">
    					</div>
    				</div>
    			</div>
    			<div class="input-form padding-right-left">
    				<h3 class="no-margin">PAYMENT DETAIL</h3>
    				<label>Cardholder name</label>
                    <input type="text" name="cardholder" placeholder="As it appears on your credit card">
                    <label>Card number</label>
                    <input type="text" name="cardnumber" placeholder="">
                    <div class="container-fluid no-margin">
                    	<div class="row">
                    		<div class="col-md-6 no-padding">
                    			<label>Expiry</label>
                    			<select ng-model="selectedMonth" ng-options="x for x in months"
                    			 class="cus-selectBox"></select>
                    			<select ng-model="selectedYear" ng-options="x for x in years"
                    			 class="cus-selectBox"></select>
                    		</div>
                    		<div class="col-md-6 no-padding">
                    			<label>CVV</label>
                    			<input type="text" name="CVV">
                    		</div>
                    	</div>
                    </div>
                    
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-md-6 input-form">
    				<h3 class="no-margin">DISCOUNT / E-CERTIFICATE CODE</h3>
                	<input type="text" name="confirmEmail" placeholder="Only One Code Can Be Used Per Order">
    		</div>
    	
    	</div>

    	<div class="row" style="margin-top: 15px;">
    		<div class="col-sm-12">
    			<p style="font-weight: bold; font-size: 14px;">To help us serve you better, please tell us more about your party.</p>
    			<p style="font-weight: bold; font-size: 14px;">If you don’t have some names or email addresses, no problem. Your tickets will still be valid for entry.</p>
    		</div>
    	</div>

    	<div class="row input-form">
    		<h3 class="no-margin padding-right-left">Your Party</h3>
    		<div class="col-md-6">
    			<label>Guest Names</label>
               	<input type="text" name="guestName" placeholder="Name">

    		</div>
    		<div class="col-md-6">
    			<label>Email Addresses</label>
    			<input type="text" name="email" placeholder="Optional">
    		</div>
    	</div>
    </div>
</div>

<div class="modal-footer" id="modal-footer-cus">
	<div id="current-step">Step {{step}} of 3</div>
	<button type="button" class="btn btn-primary hieu-button-cus" ng-click="backModal()">{{backStep}}</button>
	<button type="button" class="btn btn-primary hieu-button-cus" ng-click="nextModal()">{{nextStep}}</button>
</div>



