<h4>AngularJS</h4>
<small>{{angular.version.full}} - {{angular.version.codeName}}</small>

<div class="panel panel-default">
    <div class="panel-heading">
        About Us
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
    </div>

    <div class="list-view">
        <div class="list-group-item" ng-repeat="about in aboutdata">
            <div style="overflow: hidden;">
                <a href="" type="text" class="col-sm-11" ui-sref="^.view({id:about.id})"
                   ng-click="stateConfigView(about.id)">{{about.time}}</a>

                <div class="col-sm-1">
                    <a href="" class="btn btn-xs btn-default " ui-sref="^.config({id:about.id})"
                       ng-click="stateConfigView(about.id)">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="" class="btn btn-xs btn-default" ng-click="deleteAbout(about.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>
    <div ng-show="!aboutdata.length" class="list-group-item">
        <h4 class="list-group-item-heading" translate>
            There are nothing
        </h4>

        <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a new!</p>
    </div>


</div>
