<form name="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="" ui-sref="^.index" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
            back
        </div>
        <div class="panel-body">
            <h3>WHO</h3>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="about.who.content">
                </div>
                <div class="col-sm-4">
                    <input type="file" class="file-loading" ngf-select ng-model="img1" accept=".png, .jpg, .jpeg">
                </div>
            </div>
            <h3>WHAT</h3>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="about.what.content">
                </div>
                <div class="col-sm-4">
                    <input type="file" class="file-loading" ngf-select ng-model="img2" accept=".png, .jpg, .jpeg">
                </div>
            </div>
            <h3>WHERE</h3>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="about.where.content">
                </div>
                <div class="col-sm-4">
                    <input type="file" class="file-loading" ngf-select ng-model="img3" accept=".png, .jpg, .jpeg">
                </div>
            </div>
            <h3>WHY</h3>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="about.why.content">
                </div>
                <div class="col-sm-4">
                    <input type="file" class="file-loading" ngf-select ng-model="img4" accept=".png, .jpg, .jpeg">
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-success" ng-click="addAbout()">
                Submit
            </button>
        </div>
    </div>
</form>
