<div class="panel panel-default">
    <div class="panel-heading">
        Dishes
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
    </div>

    <div class='list-group'>
        <div ng-repeat="item in dishData" class="list-group-item" style="overflow: hidden">
         <span class="pull-right btn-group">
          <a href="" class="btn btn-xs btn-default" ng-click="stateConfigView(item)">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="" class="btn btn-xs btn-danger" ng-click="deleteDish(item)">
            <i class="fa fa-trash-o"></i>
          </a>
        </span>
            <h4 class="list-group-item-heading">Name: {{item.name}}</h4>
            <div class="row">
                <div class="col-sm-9">
                        <h5>Caption:</h5>
                    <h4 class="list-group-item-text">
                        {{item.caption}}
                    </h4>
                    <p class="list-group-item-text">
                        {{item.time}}
                    </p>
                </div>
                <div class="col-sm-3">
                    <img ng-src="{{item.imgurl}}">
                </div>

            </div>

        </div>
    </div>

</div>


<div class="list-view">
    <div class="list-group-item" ng-repeat="about in aboutdata">
        <div style="overflow: hidden;">
            <p type="text" class="col-sm-11">{{about.time}}</p>
            <div class="col-sm-1">
                <a href="" class="btn btn-xs btn-default " ng-click="stateConfigView(about.id)">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="" class="btn btn-xs btn-default" ng-click="deleteAbout(about.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>

        </div>

    </div>
</div>
<div ng-show="!dishData.length" class="list-group-item">
    <h4 class="list-group-item-heading" translate>
        There are no dishes
    </h4>

    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a dishes!</p>
</div>
</div>